body {
  background-color: #FAFCFF;
}
ul {
  list-style: none;
}

/* 页面选项 */


/* 页面 */
.page {
  position: absolute;
  width: 99vw;
  height: 80vh;
  padding: 10px;
  box-sizing: border-box;
  /* display: none; */
}

.tasks {
  margin: 0px 10px;
  top: 80px;
  width: 500px;
  height: 100%;
  overflow: auto;
}

/* task */
.task {
  /* left: 10px; */
  margin: 10px;
  /* height: 50px; */
  width: 90%;
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
  border: solid rgb(203, 225, 247);
  position: relative;
}

.content {
  /* position: absolute; */
  /* left: 17px;
  top: 13px; */
  margin: 13px 17px;
  font-size: 18px;
  font-weight: 500;
  color: rgba(3, 43, 119, 1);
  white-space: pre-wrap;
}

.time {
  position: absolute;
  right: 17px;
  top: 13px;
  font-size: 18px;
  font-weight: 500;
  color: rgba(3, 43, 119, 0.6);
}

.delete {
  position: absolute;
  right: 20px;
  top: 13px;
  color: rgb(201, 136, 136);
  z-index: -1;
}

.delete:hover {
  color: rgb(210, 108, 108);
  cursor: pointer;
}
.task:hover .delete {
  z-index: 0;
}

/* input */
.input {
  margin: 5px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
  border: solid rgb(217, 237, 223);
  resize: none;
  padding: 20px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
  color: rgba(3, 43, 119, 0.6);
  width: 500px;
}
.input:focus {
  outline: none;
  border: solid rgb(185, 241, 202);
}

.submit {
  width: 214px;
  height: 35px;
  border-radius: 10px;
  background: rgba(171, 183, 208, 1);
  margin: 20px 5px;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  /* vertical-align: middle; 只能用于行内元素*/
  line-height: 35px;/* /解决方法： line-height设为div的高度 */
  text-align: center;
  cursor: pointer;
}
.submit:hover {
  background-color: rgb(143, 159, 196);
}
.submit:active {
  background-color: rgb(127, 148, 197);
}

@media screen and (width<700px) {
  #pageLog {
    flex-direction: column;
  }
}

textarea {
  display: block;
}